{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom du billy</th>
                <th>Caractère du billy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.caractere }}</td>
                <td>{{ game.chanceTotal }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="32">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
